#notes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 30px;

  .note {
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;

    & > article {
      position: relative;
      height: 100%;
      padding: 5px 0;
      overflow: hidden;

      & > p {
        position: absolute;
        font-size: 17px;
      }
    }

    & > footer {
      display: flex;
      justify-content: space-between;

      & > .icons > button {
        background: none;
        border: none;

        & > svg {
          width: 20px;
          height: 20px;
          margin: 0 10px;
        }

        &:hover {
          filter: contrast(0.5);
          cursor: pointer;
          transition: 0.2s linear;
        }
      }
    }
  }
}

@media (width <= 1250px) {
  #notes {
    grid-template-columns: 50% 50%;
  }
}

@media (width <= 850px) {
  #notes {
    grid-template-columns: 100%;
  }
}

@media (width <= 500px) {
  #notes {
    padding: 20px;
  }

  .note {
    height: 250px;
  }
}
