.links-div {
  background: #fff;
  width: 60%;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}

.links {
  color: #000;
  font-size: 35px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
